<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/tailwind.css" />
	<title>Seyid - Categories</title>
</head>
<body>
	
	<h1>Categories</h1>

		{{ if not .categories }}
			<div>No Category Found</div>
		{{ else }}
			<ol class="">
				{{ range .categories }}
				<li class="flex justify-between items-center border mb-2">
					<div class="w-28 h-28">
						<img src={{.Icon}} alt={{.Title}} class="w-full h-full rounded-full"/>
					</div>
					<h2 class="text-lg font-semibold mr-auto">{{ .Id }} - {{ .Title }} - {{ .Icon }}</h2>
				</li>
				{{ end }}
			</ol>
		{{ end }}

	<script src="/static/js/htmx.min.js" defer></script>
</body>
</html>

